body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #DBF9F4;
}

.container {
    background-color: #B07BAC;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 2rem;
    color: white;
}

.container__texto-azul {
    color: #5F7367;
    display: block;
}

input[type="text"],
input[type="number"] {
    font-size: 1rem;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 40px;
    width: fit-content;
    background-color: #5F7367;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

.total {
    font-size: 24px;
    text-align: center;
    color: #fff;

}

/* Centra verticalmente el contenido */
td {
    vertical-align: middle;
}